<div ng-controller="navCtrl">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-6">
                        <a ui-sref="home"><h1 class="logo">SMART PLUG</h1></a>
                    </div>
                    <div class="col-lg-6">
                        <div class="user">
                            <a href="Views/login.html"><button class="circle-button user-button"><img src="../Images/user168.png" /></button></a> Welcome
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navigation">
        <div class="row">
            <div class="col-lg-3">
                <button class="my-btn selected" ui-sref="home"><span><img src="../Images/home168.png" /></span></button>
            </div>
            <div class="col-lg-3">
                <button class="my-btn" ui-sref="log"><span><img src="../Images/log1.png" /></span></button>
            </div>
            <div class="col-lg-3">
                <button class="my-btn" ui-sref="plot"><span><img src="../Images/line-chart1.png" /></span></button>
            </div>
            <div class="col-lg-3">
                <button class="my-btn" ui-sref="machine"><span><img src="../Images/robot30.png" /></span></button>
            </div>
        </div>
        <script>
            //first you grab the click event for the button(s)
            $("button").click(function () {

                //we remove all the borders from all the buttons
                $("button").removeClass("selected");

                //Now we add the border to the button that's been clicked
                $(this).addClass("selected");

            });
        </script>
    </nav>
</div>