<div class="row">
    <h1>HOME</h1>

    <div class="row">
        <div class="col-lg-12">
            <div ng-repeat="plug in plugs">
                <div class="my-plug {{plug.state}}-plug">
                    <span><img src="../Images/socket.png" /></span>
                    Plug {{plug.id}}
                    <div class="buttons">
                        <button class="circle-button more-button"><img src="../Images/more10.png"/></button>
                        <button class="circle-button remove-button"><img src="../Images/delete8.png"/></button>
                        <button class="circle-button save-button"><img src="../Images/eco37.png"/></button>
                        <button class="circle-button off-button"><img src="../Images/power102.png"/></button>
                    </div>
                    <div class="data">
                        <div>Uptime: {{plug.uptime}}</div>
                        <div>Location: {{plug.location}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Add plug</h2>
        </div>
        <div class="col-lg-6">
            <input placeholder="Name" ng-model="name"/>
            <input placeholder="Location" ng-model="location"/>
        </div>
        <div class="col-lg-6">
            <input placeholder="IP" ng-model="ip"/>
            <input placeholder="Description" ng-model="desc"/>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-6">
                <button class="circle-button add-button"><img src="../Images/plus79.png"/></button>
                <button class="circle-button remove-button"><img src="../Images/delete8.png"/></button>
            </div>
        </div>
    </div>
</div>