html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Open Sans", "Segoe UI", Helvetica, Arial; font-weight: lighter;
}

#wrap {
  min-height: 100%;
}

ul {
    list-style: none;
    display: inline;
}

.space {
    margin: 10px 0 10px 0;
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}

.logo {
    font-family: 'Audiowide';
    font-size: 45px;
    cursor: default;
    -webkit-transition: all 0.8s ease 0s; /* Safari */
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    color: #333;
}
.logo:hover {
    color: wheat;
    text-shadow: 10px 10px 10px #000000;
}

/* HEADER */
header {
    width: 100%;
    height: 130px;
    margin: 0;
    padding: 0;
    background: #4CAF50;
}

.navigation {
    width: 100%;
    background: #8BC34A;
    float: left;
}
.navigation img {
    width: 40px;
    height: 40px;
}
.navigation button {
    height: 55px;
}

.user {
    float: right;
}

/* BODY */
.content {
    overflow:visible;
    padding-bottom:80px;
}


/* FOOTER */
footer {
    position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear:both;
	padding-top:20px;
	background: #FF9600;
}

.cpy {
    text-align: center;
}

.chat-box {
    display: block;
    position: absolute;
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 45px;
    padding: 0 5px 0 5px;
    background: #8bc34a;
    -moz-transition: 1.2s ease-in 0.4s; 
    -o-transition: 1.2s ease-in 0.4s; 
    transition: 1.2s ease-in 0.4s; 
}
.chat-box:hover {
    width: 300px;
    height: 400px;
}
.chat-head {
    border-bottom: solid 1px #1976d2;
    padding: 5px;
    width: 110%;
    margin-top: 5px;
    margin-left: -5px;
}
.chat-text{
    width: 100%;
    height: 220px;
    overflow: auto;
}
.chat-input {
    padding-top: 20px;
}

/* HOME PAGE */

/* LOG PAGE */
.plot {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

/* BUTTONS */
.my-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    padding: 5px 10px 5px 10px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 20px;
	font-weight: lighter;
    border: none;
    background: transparent;
    color: white;
    -webkit-transition: all 0.6s ease 0s; /* Safari */
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.my-btn:hover {
    background: #FFC107;
}
.my-btn:focus {
    outline: none;
}
.my-btn .disabled {
    background: #a1a1a1;
}

.plot-view {
    margin-top: 30px;
}

.my-plug {
    display: block;
    float: left;
    width: 380px;
    height: 400px;
    padding: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
    border: none;
    color: black;
    margin: 8px;
    overflow: hidden;
    background: #d8d8d8;
    border: solid 1px #1e90ff;
    -webkit-transition: all 0.6s ease 0s; /* Safari */
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
@media (max-width: 800px) {
    .my-plug {
        width: 100%;
        height: 400px;
    }
}
.my-plug .state {
    width: 110%;
    height: 50px;
    margin: 10px -5px 20px -5px;
}
.my-plug .state img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.my-plug .plug-main {
    float: left;
    height: 400px;
    margin-left: 50px;
    text-align: center;
}
.my-plug .plug-other {
    float: left;
    margin-top: 0;
    margin-left: 70px;
}
.my-plug .plug-other .result {
    float: left;
    margin-top: -100px;
}
.my-plug .plug-other .result div {
    margin-bottom: 30px;
}


@media (min-width: 800px){
    .long {
        width: 800px;
    }
    .short {
        width: 380px;
    }
}

@media (max-width: 800px){
    .long {
        height: 800px;
    }
    .short {
        height: 400px;
    }
    .my-plug .plug-other {
        float: left;
        margin-top: 0;
        margin-top: -50px;
        margin-left: 120px;
    }
}
.my-plug img {
    width: 20px;
    height: 20px;
}
.my-plug .data {
    font-size: 20px;
    margin-top: 30px;
}
.my-plug .data div{
    margin-bottom: 10px;
}

.alert-plug {
    background: #fe1b1b;
}
.warning-plug {
    background: #ffbf00;
}
.ok-plug {
    background: #8BC34A;
}
.off-plug {
    background: #c6c6c6;
}

.circle-button {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 1.5;
    padding: 5px 10px 5px 10px;
    margin: 5px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 20px;
	font-weight: lighter;
    border: none;
    color: black;
    z-index: 10;
    border-radius: 500px;
    -webkit-transition: all 0.6s ease 0s; /* Safari */
    -moz-transition: all 0.6s ease 0s;
    -ms-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    outline-style: none;
}
.circle-button img {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.on{
    background: green;
}
.off{
    background: red;
}

.add-button {
    background: #8bc34a;
}
.add-button:hover {
    background: #6db21e;
    box-shadow: 0 10px 10px #000000;
}
.remove-button {
    background: #ff5d5d;
}
.remove-button:hover {
    background: #dc1d1d;
    box-shadow: 0 10px 10px #000000;
}
.more-button {
    background: #5d83ff;
}
.more-button:hover {
    background: #123ecb;
    box-shadow: 0 10px 10px #000000;
}
.off-button {
    background: white;
}
.off-button:hover {
    background: #d8d8d8;
    box-shadow: 0 10px 10px #000000;
}
.save-button {
    background: #74ba22;
}
.save-button:hover {
    background: #589017;
    box-shadow: 0 10px 10px #000000;
}
.user-button {
    background: transparent;
}
.user-button:hover {
    background: #d8d8d8;
}
.user-button:focus {
    outline: none;
}

.func-button {
    float: left;
    display: inline-block;
    width: 60%;
    height: 50px;
    line-height: 1.5;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    color: black;
    outline-style: none;
    background: #86a2ff;
    -webkit-transition: all 0.5s ease 0.1s;
    -moz-transition: all 0.5s ease 0.1s;
    -ms-transition: all 0.5s ease 0.1s;
    -o-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}
.func-button:hover {
    background: #5d83ff;
}

.log-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 1.5;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    color: black;
    outline-style: none;
    background: #B2E775;
    -webkit-transition: all 0.5s ease 0.1s;
    -moz-transition: all 0.5s ease 0.1s;
    -ms-transition: all 0.5s ease 0.1s;
    -o-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}

.plot-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 1.5;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    color: black;
    outline-style: none;
    background: #B2E775;
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0.1s;
    -moz-transition: all 0.5s ease 0.1s;
    -ms-transition: all 0.5s ease 0.1s;
    -o-transition: all 0.5s ease 0.1s;
    transition: all 0.5s ease 0.1s;
}
plot-button:hover{
    text-decoration: none;
}

.switch {
  z-index: 1;
  margin: 5px;
}
.switch .rail {
  background: #7d7d7d;
  width: 4em;
  z-index: 0;
}
.switch .rail p{
    float: left;
    margin-left: 12px;
    cursor: default;
}
.switch .toggle {
  background: #98bf21;
  height: 2em;
  width: 2em;
  position: relative;
  z-index: 0;
}


.selected {
    outline: none;
    border-bottom: solid 4px #1976D2;
}

.smoothie {
    margin-top: 20px;
}

.loging{
    border: solid 1px #1976D2;
    padding: 10px;
    height: 100%;
}
/* INPUTS */
input {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    height: 40px;
}

/* TESTING PART */
